@page
@model AbbyWeb.Pages.Categories.EditModel


<form method="post">
    <div hidden asp-for="Category.Id"></div> <!--This id is required for POST method-->
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3 row">
            Name:
            <input asp-for="@Model.Category.Name" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            Display Order:
            <input asp-for="@Model.Category.DisplayOrder" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:auto">Update</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:auto">Back to List</a>
    </div>
</form>

@*Partial Views -To insert partial views, create a section. A section, has Scripts { with PARTIAL tag helper}, which contains the code*@

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" /> // This partial view does client side validations.
                                                     // By default .NET CORE does not display custom validations from Client Side
    }

}