@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- IMPORTANT! Below part is rendered in "RenderBody()" method of _layout.cshtml partial view-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

